trigger:
  branches:
    include:
      - master

variables:
  imageName: mirrorapp
  registry: mirroracr51258.azurecr.io # Replace with your ACR login server

stages:

- stage: Test
  displayName: "Run application tests"
  jobs:
  - job: RunTests
    pool:
      vmImage: 'ubuntu-latest'
    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '18.x'
      - script: |
          npm install
          node test.js
        displayName: "Run Node.js tests"

- stage: Build
  displayName: "Build and Push Docker Image"
  dependsOn: Test
  condition: succeeded()
  jobs:
  - job: BuildDocker
    pool:
      vmImage: 'ubuntu-latest'
    steps:
      - task: Docker@2
        inputs:
          containerRegistry: '$(registry)'
          repository: '$(imageName)'
          command: 'buildAndPush'
          Dockerfile: '**/Dockerfile'
          tags: |
            latest

- stage: Deploy
  displayName: "Deploy to AKS"
  dependsOn: Build
  condition: succeeded()
  jobs:
  - job: DeployK8s
    pool:
      vmImage: 'ubuntu-latest'
    steps:
      - task: AzureCLI@2
        inputs:
          azureSubscription: '<YOUR_AZURE_SERVICE_CONNECTION>'
          scriptType: 'bash'
          scriptLocation: 'inlineScript'
          inlineScript: |
            # Get AKS credentials
            az aks get-credentials --resource-group mirror-rg --name mirror-aks --overwrite-existing

            # Apply K8s manifests
            kubectl apply -f k8s/deployment.yaml
            kubectl apply -f k8s/ingress.yaml

            # Optional: check pods
            kubectl get pods
            kubectl get svc
